.skill-title {
    padding: 10px 50px 10px 0px;
}

.skill-title-icon {
    font-size: 45px;
}

@media (max-width: 50em) {
    .skill-title {
        padding: 10px 20px 10px 0px;
    }

    .skill-title-icon {
        font-size: 35px;
    }
}