---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title='About | Delfia Ghosh' description='About Delfia Ghosh Lorem Ipsum'>
  <div class='stack gap-20'>
    <main class='wrapper about'>
      <Hero title='About' tagline='Thanks for stopping by. Read below to learn more about myself and my background.'>
        <img
          width='250'
          height='250'
          style='align-self: center;'
          src='/assets/at-work.jpg'
          alt='Delfia Ghosh at work with a colleague'
        />
      </Hero>

      <section>
        <h2 class='section-title'>Hometown</h2>
        <div class='content'>
          <p>Kolkata, West Bengal, India</p>
        </div>
      </section>
      <section>
        <h2 class='section-title'>Education</h2>
        <div class='content'>
          <p>Bachelor of Technology (B. Tech) in Computer Science & Engineering (CSE)</p>
          <p>2016-2020</p>
          <i>Kolkata, West Bengal, India</i>
          <p>
            <b>GPA: 9.12 / 10</b>
          </p>
        </div>
      </section>
      <section>
        <h2 class='section-title'>Volunteer Experience</h2>
        <div class='content'>
          <p>
            <b>Adhyayan</b>
          </p>
          <i>Aug 2018 - Jul 2020</i>
          <p>Volunteered in teaching the underprivileged, organised by the Socio-cum-Educational Institution, Adhyayan.</p>
        </div>
        <div class='content'>
          <p>
            <b>Pankh</b>
          </p>
          <i>Jul 2017 - Jun 2020</i>
          <p>Volunteered in multiple events organised by the NGO, Pankh.</p>
        </div>
      </section>
      <section>
        <h2 class='section-title'>Personal Interests</h2>
        <div class='content'>
          <p>Performing Odissi dance</p>
          <p>Listening to music</p>
          <p>Writing poems</p>
          <p>Playing guitar</p>
          <p>Watching and playing football</p>
          <p>Reading story books</p>
        </div>
      </section>
      <section>
        <h2 class='section-title'>Spoken Languages</h2>
        <div class='content'>
          <p>English</p>
          <p>Hindi</p>
          <p>Bengali</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
