---
import BaseLayout from '@layouts/BaseLayout.astro';

import { CertificateList } from '@components/CertificateList';
import ContactCTA from '@components/ContactCTA.astro';
import Grid from '@components/Grid.astro';
import Hero from '@components/Hero.astro';
---

<BaseLayout title='My Certifications | Delfia Ghosh' description="Learn about Delfia Ghosh's most recent certifications">
  <div class='stack gap-20'>
    <main class='wrapper stack gap-8'>
      <Hero
        title='My Certifications'
        tagline='See my most recent certifications below to get an idea of my learning experience.'
        align='start'
      />
      <Grid variant='offset'>
        <CertificateList client:only />
      </Grid>
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
