---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '@layouts/BaseLayout.astro';

// Component Imports
import { Awards } from '@components/Awards';
import CallToAction from '@components/CallToAction.astro';
import ContactCTA from '@components/ContactCTA.astro';
import { Experiences } from '@components/Experiences';
import Grid from '@components/Grid.astro';
import Hero from '@components/Hero.astro';
import Highlights from '@components/Highlights.astro';
import Icon from '@components/Icon.astro';
import Pill from '@components/Pill.astro';
import { ProjectList } from '@components/ProjectList';
import { Skills } from '@components/Skills';

// Style Imports
import './main.css';
---

<BaseLayout>
  <div class='stack gap-20 lg:gap-48'>
    <div class='wrapper stack gap-8 lg:gap-20'>
      <header class='hero'>
        <Hero
          title='Delfia Ghosh'
          tagline=`I am a Senior Developer with expertise in modern front-end technologies, exposure to microservices development, cloud technologies, DevOps, development tools and testing frameworks.`
          align='start'
        >
          <div class='roles'>
            <Pill><Icon icon='code' size='1.33em' /> Developer</Pill>
            <Pill><Icon icon='pencil-line' size='1.33em' /> Writer</Pill>
            <Pill><Icon icon='moon-stars' size='1.33em' /> Artist</Pill>
          </div>
        </Hero>

        <img alt='Delfia Ghosh' width='300' height='300' src='/assets/portrait.jpg' />
      </header>

      <Highlights />
    </div>

    <main class='wrapper stack gap-20 lg:gap-48'>
      <!-- Skills -->
      <section class='section with-background with-cta'>
        <header class='section-header stack gap-2 lg:gap-4'>
          <h3>Skills</h3>
        </header>

        <Skills client:visible />

        <div class='cta'>
          <CallToAction href='/certifications/'>
            View All
            <Icon icon='arrow-right' size='1.2em' />
          </CallToAction>
        </div>
      </section>

      <!-- Projects -->
      <section class='section with-background with-cta'>
        <header class='section-header stack gap-2 lg:gap-4'>
          <h3>Projects</h3>
        </header>

        <div class='cta'>
          <CallToAction href='/projects/'>
            View All
            <Icon icon='arrow-right' size='1.2em' />
          </CallToAction>
        </div>

        <div class='gallery'>
          <Grid variant='offset'>
            <ProjectList isPreview={true} client:visible />
          </Grid>
        </div>
      </section>

      <!-- Work Experiences -->
      <section class='section with-background with-cta'>
        <header class='section-header stack gap-2 lg:gap-4'>
          <h3>Experiences</h3>
        </header>

        <Experiences client:visible />
      </section>

      <!-- Awards -->
      <section class='section with-background bg-variant'>
        <header class='section-header stack gap-2 lg:gap-4'>
          <h3>Mentions</h3>
          <p>
            I have been fortunate enough to receive praise for my work for several invitiatives in workplace. Take a look below to
            learn more.
          </p>
        </header>

        <div class='gallery'>
          <Grid variant='small'>
            <Awards client:visible />
          </Grid>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>
