---
import Icon from './Icon.astro';
---

<section class='box skills'>
  <div class='stack gap-2 lg:gap-4'>
    <Icon icon='terminal-window' color='var(--accent-regular)' size='2.5rem' gradient />
    <h2>Developer</h2>
    <p>
      Experienced in designing and implementing scalable, responsive, and accessible web applications, optimizing user experience,
      and ensuring high performance.
    </p>
  </div>
  <div class='stack gap-2 lg:gap-4'>
    <Icon icon='trophy' color='var(--accent-regular)' size='2.5rem' gradient />
    <h2>Problem Solver</h2>
    <p>
      Strong problem-solving skills demonstrated through leadership in complex projects and excellent communication abilities when
      collaborating with cross-functional teams, debugging technical challenges, and meeting project goals within tight deadlines.
    </p>
  </div>
  <div class='stack gap-2 lg:gap-4'>
    <Icon icon='strategy' color='var(--accent-regular)' size='2.5rem' gradient />
    <h2>Innovator</h2>
    <p>
      Dedicated to continuous improvement, innovative approaches and leveraging analytics to drive measurable business outcomes.
    </p>
  </div>
</section>

<style>
  .box {
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    padding: 1.5rem;
    background-color: var(--gray-999_40);
    box-shadow: var(--shadow-sm);
  }

  .skills {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .skills h2 {
    font-size: var(--text-lg);
  }

  .skills p {
    color: var(--gray-400);
  }

  @media (min-width: 50em) {
    .box {
      border-radius: 1.5rem;
      padding: 2.5rem;
    }

    .skills {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5rem;
    }

    .skills h2 {
      font-size: var(--text-2xl);
    }
  }
</style>
